body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    padding: 0; margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Light', 'Open Sans', sans-serif;
    font-weight: 100;
}
#about_blurb {
    background-color: RGBA(211, 211, 211, 0.4);
    color: black;
}
#footer {
    background-color: RGBA(0,0,0, 0.8);
    color: white;
    margin:0;
}
div#topbar {
    text-align: right;
    padding: 10px;
}
div.page-slice {
    border-radius: 6px;
    border: 1px solid grey;
    margin-bottom: 20px;
}
div.card-group-title {
    text-align: center;
}
div#skills-green > * {
    border: 1px solid green;
    background-color: #aaffaa;
}
div#skills-yellow > * {
    border: 1px solid yellow;
    background-color: #ffffaa;
}
div#skills-red > * {
    border: 1px solid red;
    background-color: #ffaaaa;
}
img#self-portrait {
    background-color: blue;
    width: 20%;
}
div.skills-tag {
    cursor: default;
}